@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,600,300italic,400italic,600italic,700,700italic,900,900italic);
.byline, .updated {
  display: inline; }

/*

## Component: Typography

*/
/*

### Import helpers and the font

- sass-mq
- frontend/standard/variables
- Source Sans Pro font

```css
@import '../../../vendor/sass-mq/mq';
@import '../../../vendor/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../../vendor/frontend/app/assets/sass/variables/_standard.scss';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,600,300italic,400italic,600italic,700,700italic,900,900italic);
```


*/
/*

### REM setup and text-size-adjust

Set 1rem to be 10px as a size-base.

```css
html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
```


*/
html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/*

### Focus

```css
:focus{
  outline: 3px solid $link-color;
  outline: .3rem solid $link-color;
}
```

*/
:focus {
  outline: 3px solid #337ab7;
  outline: 0.3rem solid #337ab7; }

/*

#### Body text size

```css
body,
.body,
#body {
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-family: $body-font-family;
  //padding-top: 88px;
  font-style: normal;
  font-weight: 400;
}
```

*/
body,
.body,
#body {
  font-size: 1.8rem;
  line-height: 1.8em;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400; }

/*

#### Headings

Headings. OpenType ligatures, discretionary ligatures and lining figures enabled if available.

```css
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig=1, liga=1, lnum=1, kern=1';
  -ms-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  //color: $headingColour;
  //font-family: $sans-serif;
  font-style: normal;
  font-weight: 700;
  font-family: $h-font-family;
}
```

*/
h1,
h2,
h3,
h4,
h5,
h6 {
  -ms-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-style: normal;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif; }

/*

##### Heading level 1.

<span class="h1">Heading level 1 looks like this</span>

```css
h1, .h1 {
  line-height: 3rem;
  font-size: 2.8rem;
  font-weight: 300;
}
```


*/
h1, .h1 {
  line-height: 3rem;
  font-size: 2.8rem;
  font-weight: 300; }

/*

##### Heading level 2.


<span class="h2">Heading level 2 looks like this</span>

```css
h2, .h2 {
  font-size: 2.2rem;
  font-weight: 300;
}
```
*/
h2, .h2 {
  font-size: 2.2rem;
  font-weight: 300; }

/*

##### Heading level 3.


##### Example

<span class="h3">Heading level 3 looks like this</span>
```css
h3, .h3 {
  font-size: 1.8rem;
}
```
*/
h3, .h3 {
  font-size: 1.8rem; }

/*

##### Heading level 4.


<span class="h4">Heading level 4 looks like this</span>
```css
h4, .h4 {
  font-size: 1.6rem;
}
```
*/
h4, .h4 {
  font-size: 1.6rem; }

/*

##### Heading level 5.

<span class="h5">Heading level 5 looks like this</span>
```css
h5, h6 {
  font-size: 1.6rem;
}
```
*/
h5, .h5 {
  font-size: 1.6rem; }

/*

##### Heading level 6.

<span class="h6>Heading level 6 looks like this</span>
```css
h6, .h6 {}
```
*/
/*

##### Heading combined with other content

Nice spacing after high level headings and images. Text sits directly below h4, h5 and h6.

```css
h1 + p,
h1 + ol,
h1 + ul,
h1 + dl,
h1 + blockquote p,
h1 + pre,
.alpha + p,
.alpha + ol,
.alpha + ul,
.alpha + blockquote p,
.alpha + pre,
h2 + p,
h2 + ol,
h2 + ul,
h2 + dl,
h2 + blockquote p,
h2 + pre,
.beta + p,
.beta + ol,
.beta + ul,
.beta + blockquote p,
.beta + pre,
img + p,
img + ol,
img + ul,
img + blockquote p,
img + pre,
#sidebar header + * {
  margin-top: 2rem;
}
```

*/
h1 + p,
h1 + ol,
h1 + ul,
h1 + dl,
h1 + blockquote p,
h1 + pre,
.alpha + p,
.alpha + ol,
.alpha + ul,
.alpha + blockquote p,
.alpha + pre,
h2 + p,
h2 + ol,
h2 + ul,
h2 + dl,
h2 + blockquote p,
h2 + pre,
.beta + p,
.beta + ol,
.beta + ul,
.beta + blockquote p,
.beta + pre,
img + p,
img + ol,
img + ul,
img + blockquote p,
img + pre,
#sidebar header + *,
h2 + #freetext {
  margin-top: 2rem; }

/*

#### Lists

*/
ul {
  list-style: disc; }

ol {
  list-style: decimal; }

dt,
dd {
  display: inline-block;
  float: left; }

dt {
  clear: left;
  margin-right: .5rem;
  font-weight: bold; }

dt:after {
  content: ": "; }

ul,
ol {
  margin-bottom: 2rem; }

ul li,
ol li {
  -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  margin-left: 2.4rem; }

.dropdown-menu li {
  margin-left: 0; }

/*

#### A-links

*/
a {
  transition: .1s color;
  color: #337ab7;
  text-decoration: none; }

a:hover, a:active, a:focus {
  color: #23527c;
  text-decoration: none; }

/*

Dotted underline on links within the content section

*/
#content a:not(.btn),
.content a:not(.btn) {
  border-bottom: 1px dotted #337ab7; }

#content a:not(.btn):hover, #content a:not(.btn):active, #content a:not(.btn):focus,
.content a:not(.btn):hover,
.content a:not(.btn):active,
.content a:not(.btn):focus {
  border-bottom: 2px solid #337ab7; }

/*

#### Paragraphs

Paragraphs. OpenType ligatures and oldstyle figures enabled if available.

*/
p {
  -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  margin-bottom: 2rem; }

p.intro {
  font-size: 130%; }

/*

#### Forms


*/
form {
  margin-bottom: 2rem; }

form.form-inline {
  margin-bottom: 0; }

section > .container > :first-child {
  padding-top: 0; }

/*

#### Quotes

*/
blockquote {
  position: relative;
  background: #f9f9f9;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  border-left: 4px solid #ccc; }

blockquote:before, blockquote:after {
  font-size: 8rem;
  display: block;
  position: absolute;
  color: #ccc; }

blockquote:before {
  content: "\201C";
  height: 0;
  margin-left: 3rem;
  top: 3rem;
  left: -2.5rem; }

blockquote:after {
  content: "\201D";
  height: 0;
  bottom: 0;
  right: 1.5rem; }

blockquote.cover-quote {
  border-left: 0px;
  background: transparent; }

blockquote.cover-quote cite {
  border-left: 0px;
  background: transparent; }

blockquote.cover-quote cite:before, blockquote.cover-quote cite:after {
  display: none; }

blockquote.cover-quote:before, blockquote.cover-quote:after {
  display: none; }

cite {
  font-style: italic;
  padding-left: 4rem;
  background: #f9f9f9;
  display: block;
  border-left: 4px solid #ccc;
  padding-top: 1rem; }

cite:before {
  content: "\2013";
  margin-right: 1rem;
  display: inline-block; }

/*

#### Horizontal rule.

*/
hr {
  color: #c9c9c9;
  background-color: #c9c9c9;
  border: 0;
  border-bottom: 1px solid #c9c9c9;
  margin-top: 3rem;
  margin-bottom: 3rem; }

/*

#### Code block. Some styles from normalize included.

 Some styles from normalize included.

*/
code,
pre {
  background-color: #002028;
  color: #fff;
  font-family: Menlo, Monaco, "Courier New", monospace; }

pre {
  border-radius: 0.5rem;
  display: block;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  margin-bottom: 2rem;
  padding: 1rem; }

pre code {
  font-size: 1.4rem; }

/*

#### Helpers


*/
/*

##### Bold

*/
b,
strong,
.bold {
  font-weight: 600; }

/*

##### Italic.

*/
em,
i,
.italic {
  font-style: italic; }

/*

##### Caption or inline small text.

*/
small,
.caption {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem; }

/*

##### Abbrevation

*/
abbr {
  border-bottom: 1px dotted black; }

abbr:hover {
  cursor: help; }

/*

##### Nice spacing for captions.

*/
h1 + .caption,
.alpha + .caption,
h2 + .caption,
.beta + .caption,
h3 + .caption,
.gamma + .caption,
img + .caption {
  margin-top: 0; }

/*

##### Letter space those capitals people, Jan Tschichold would be proud.

*/
.upper {
  text-transform: uppercase;
  letter-spacing: 0.1rem; }

/*

##### Special styling for inline-editing notes from the admission office

*/
.admissionUpdateTime {
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic; }

/*

### MQ tweaks at sertain breakpoints

*/
/*

#### Small screens

*/
/*

#### Medium screens

*/
@media (min-width: 40em) and (max-width: 56.24em) {
  #content p,
  #content ul,
  #content ol {
    max-width: 60rem;
    line-height: 1.5em; } }

/*

#### Large screens

*/
/*

#### HR screens

*/
body, h1, h2, h3, h4, h5, h6, .blog-description, .blog-title, .post-title, .post-meta, .widget-area {
  font-family: 'Source Sans Pro', sans-serif; }

h1 {
  letter-spacing: 0; }

.blog-logo {
  line-height: 1; }

.main-navigation a {
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: 10px;
  padding: 6px 20px;
  border-radius: 2px; }

.post-content ul, .post-content ol {
  margin-left: 0;
  padding-left: 10px; }

.site-head {
  max-height: 370px; }

.menu-toggle {
  right: 10px;
  width: 58px !important; }

.icon-bars {
  margin-left: 0 !important; }

.main-navigation li {
  margin-left: 0; }
